.friend-list {
  border: 1px solid #000000;
  width: 200px;
  margin: auto;
  margin-top: 30px;
}
.friend-group dt {
  padding: 10px;
  background-color: rgb(64, 158, 255);
  font-weight: bold;
}
.friend-group dd {
  padding: 10px;
  display: none;
}
.friend-group.expanded dd {
  display: block;
}
.friend-group dd.checked {
  background: green;
}
dl {
  margin: 0;
}